<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenue {{ user.username }}</title>
</head>

<body>
    {% include "base.html" %}

    <h2>Vos rendez-vous :</h2>
    <ul>
        {% for appointment in user.patient_appointments.all %}
            <li> Vous avez rendez-vous avec {{ appointment.practicien }} pour un {{ appointment.prestation }}</li>
        {% endfor %}

        {% for appointment in user.practicien_appointments.all %}
            <li> Vous avez rendez-vous avec {{ appointment.patient }} pour un {{ appointment.prestation }}</li>
        {% endfor %}
    </ul>
</body>

</html>