<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'doctolib/login.css' %}">
    <script src="{% static 'doctolib/login.js' %}"></script>
    <title>Reset mot de passe</title>
</head>

<body>
    {% block content %}
    <div class="container" id="container">
        <div class="form-container sign-up-container">
            <form action="#">
                <h1>Create Account</h1>
                <div class="social-container">
                    <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                    <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
                </div>
                <span>or use your email for registration</span>
                <input type="text" placeholder="Name" />
                <input type="email" placeholder="Email" />
                <input type="password" placeholder="Password" />
                <button class="button">Sign Up</button>
            </form>
        </div>
        <div class="form-container sign-in-container">
            {% if form.errors %}
            <p>Your username and password didn't match. Please
                try again.</p>
            {% endif %}
            {% if next %}
            {% if user.is_authenticated %}
            <p>Your account doesn't have access to this page.
                To proceed,
                please login with an account that has access.</p>
            {% else %}
            <p>Please login to see this page.</p>
            {% endif %}
            {% endif %}
            <form action="" method="post">
                {% csrf_token %}
                <h1>Mot de passe oublié</h1>
                <span>Entrez votre email</span>
                {% csrf_token %}
                {% if form.email.errors %}
                {{ form.email.errors }}
                {% endif %}
                <p>{{ form.email }}</p>
                <input type="submit" class="button" value="Reset password" >
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Welcome Back!</h1>
                    <p>To keep connected with us please login with your personal info</p>
                    <a href="{% url 'login' %}"></a><div class="ghost" id="signIn">Login</div></a>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Welcome Back!</h1>
                    <p>To keep connected with us please login with your personal info</p>
                    <a class="button ghost" id="signUp" href="{% url 'login' %}">Sign Up</a>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
</body>

</html>