<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form nouveau mdp</title>
</head>

<body>
    {% extends "base_generic.html" %}

    {% block content %}
    {% if validlink %}
    <p>Veuillez entrez et confirmer votre mdp</p>
    <form action="" method="post">
        {% csrf_token %}
        <table>
            <tr>
                <td>{{ form.new_password1.errors }}
                    <label for="id_new_password1">Nouveau password:</label>
                </td>
                <td>{{ form.new_password1 }}</td>
            </tr>
            <tr>
                <td>{{ form.new_password2.errors }}
                    <label for="id_new_password2">Confirmer votre password:</label>
                </td>
                <td>{{ form.new_password2 }}</td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Changer mon password" /></td>
            </tr>
        </table>
    </form>
    {% else %}
    <h1>Echec de reset de mdp</h1>
    <p>Le lien est invalde, veuillez réeffectuer une demande de reset de mot de passe.</p>
    {% endif %}
    {% endblock %}

</body>

</html>