<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    {% if user.is_authenticated %}
    <li>Connecté en tant que: {{ user.get_username }}</li>
    <li><a href="{% url 'logout'%}?next={{request.path}}">Déconnexion</a></li>
    {% else %}
    <li><a href="{% url 'login'%}?next={{request.path}}">Connexion</a></li>
    {% endif %}
</body>

</html>